[Unit]
Description=Boot Notifier
After=network.target

[Service]
Type=oneshot
#ExecStartPre=/bin/bash -c 'while ! ip addr show | grep -q "192.168."; do sleep 1; done'
ExecStart=/bin/bash -c 'IP=`/usr/bin/curl -s http://ipinfo.io/ip`;HOST=`hostname`;/usr/bin/curl -s -H "Authorization: Bearer BEARER_TOKEN" -H "Content-Type: application/json" -d "{\\\"to\\\":\\\"USER_ID\\\",\\\"messages\\\":[{\\\"type\\\":\\\"text\\\",\\\"text\\\":\\\"$HOST@$IP\\\"}]}" https://api.line.me/v2/bot/message/push'

[Install]
WantedBy=multi-user.target
Alias=boot-notifier.service
